img {
    max-width: 100%;
    display: block;
    height: auto;
}

.container {
    padding-top: 70px;
    padding-left: 20px;

}

input[type=file] {
    margin-bottom: 15px;
}

.card {
    padding-left: 40px;
}

